# How to create pandas DataFrame

In [1]:
import pandas as pd

In [2]:
emp_df=pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

# Datafrme created by List

In [3]:
list=["a","b","c"]
print(list)

['a', 'b', 'c']

In [4]:
df1=pd.DataFrame(list)
print(df1)

   0
0  a
1  b
2  c

In [5]:
df1

   0
0  a
1  b
2  c

# DataFrame created by list of list

In [6]:
lis_of_lis=([1,2,3,4],[4,5,6,7],[7,8,9,2],[0,2,4,6])
print(lis_of_lis)

([1, 2, 3, 4], [4, 5, 6, 7], [7, 8, 9, 2], [0, 2, 4, 6])

In [7]:
df2=pd.DataFrame(lis_of_lis)
print(df2)

   0  1  2  3
0  1  2  3  4
1  4  5  6  7
2  7  8  9  2
3  0  2  4  6

# DF created by dictionary

In [8]:
dict1={"ID":[1,2,3,4]}
print(dict1)

{'ID': [1, 2, 3, 4]}

In [9]:
dict=pd.DataFrame(dict1)
print(dict)

   ID
0   1
1   2
2   3
3   4

In [10]:
dict1={"ID":[1,2,3,4],}
print(dict1)

{'ID': [1, 2, 3, 4]}

# DF.created by lists of dictionary

In [12]:
dict1={"ID":[1,2,3,4],"SN":[5,7,8,9]}
print(dict1)

{'ID': [1, 2, 3, 4], 'SN': [5, 7, 8, 9]}

In [13]:
df3=pd.DataFrame(dict1)
print(df3)

   ID  SN
0   1   5
1   2   7
2   3   8
3   4   9

In [20]:
dic=[{"a":1,"b":2},{"a":4,"b":5}]
print(dic)

[{'a': 1, 'b': 2}, {'a': 4, 'b': 5}]

In [21]:
df4=pd.DataFrame(dic)
print(df4)

   a  b
0  1  2
1  4  5

In [22]:
dic=[{"a":1,"b":2},{"a":4,"b":5,"c":6}]
print(dic)

[{'a': 1, 'b': 2}, {'a': 4, 'b': 5, 'c': 6}]

In [23]:
df4=pd.DataFrame(dic)
print(df4)

   a  b    c
0  1  2  NaN
1  4  5  6.0

# DF.created by dictionary of series

In [25]:
dic_s={"ID":pd.Series([1,2,3,4]),"SN":pd.Series([3,6,7,8,2])}
print(dic_s)

{'ID': 0    1
1    2
2    3
3    4
dtype: int64, 'SN': 0    3
1    6
2    7
3    8
4    2
dtype: int64}

In [26]:
df5=pd.DataFrame(dic_s)
print(df5)

    ID  SN
0  1.0   3
1  2.0   6
2  3.0   7
3  4.0   8
4  NaN   2